{% comment %}
  we expect a collection named "comics" already assigned in parent page
{% endcomment %}

{% assign allcomics = site.data.database.comics | where_exp: "item", "item.hide != true" %}
<span class="comics-count">{{comics.size}}</span> / {{allcomics.size}}

{% for comic in comics %}
    <div class="comics-list-item">
        <div class="comic-thumbnail">
            <a href="{{ site.baseurl }}/img/comics/{{ comic.image }}">
                <img src='{{ site.baseurl }}/img/comics/thumbnails/{{ comic.image }}' alt='{{ comic.name | replace : "'", " " }}' />
            </a>
        </div>
        <div class="comic-description">
            <span class="comic-title">{{ comic.name }}
                {% if comic.owned %}
                    {% if comic.rented_by %}
                        <span class="comic-rented" title="Emprunté"></span>
                        <span style="font-size:0.5em;">(emprunté par {{comic.rented_by}})</span>
                    {% else %}
                        <span class="comic-available" title="Disponible"></span>
                    {% endif %}
                {% else %}
                    <span class="comic-unavailable" title="Indisponible"></span> 
                {% endif %}
            </span>
            <span class="comic-author">{{ comic.author }}</span>
            {% if comic.volumes %}
            <span class="comic-volumes">
                {{ comic.volumes }}
                {% if comic.volumes == 1 %}
                    volume
                {% else %}
                    volumes
                {% endif %}
                {% if comic.still_going %}
                    (série en cours)
                {% endif %}
            </span>
            {% endif %}
            <div class="comic-text">
                {{ comic.description | smartify }}
            </div>
            <div class="comic-tags">
                {% for tag in comic.tags %}
                <span class="comic-tag" data-tag="{{tag|slugify }}">
                    <a href="{{ site.baseurl }}/tag?t={{ tag|slugify|cgi_escape }}">
                        {{ tag }}
                    </a>
                </span>
                
                {% endfor %}
                {% assign authors = comic.author| split: " & " %}
                {% for tag in authors %}
                <span class="comic-tag" data-tag="{{tag|slugify }}">
                    <a href="{{ site.baseurl }}/tag?t={{ tag|slugify|cgi_escape }}">
                        {{ tag }}
                    </a>
                </span>
                
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}